page-categories-modal {
    .custom-category{
        .item{
            padding-left: 8 !important;
            margin-bottom: 24px;
        }
        .item-button {
            padding: 0px 1em;
            height: 32px;
            font-size: 1.2rem;
        }
    }

    .options{
        display: flex;
        flex-wrap: wrap;
        .option{
            width: 33%;
            .card{
                height: 70px;
                .card-content{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    ion-icon {
                        font-size: 3.2em;
                        color: $primary;
                    }
                    i{
                        font-size: 40px;
                        color: $primary;
                    }
                    .name{
                        font-size: 18px;
                        color: $muted;
                        text-align: center;
                    }
                }
            }
        }
        
    }
    
}
