page-reports {
    .content{
        .scroll-content{
            padding: 0px !important;
        }
    }
    
    .datepicker-section{
        margin: 0;
        position: fixed;
        width: 100%;
        top: --page-content-top;
        background: white;
        z-index: 20;
    }
    .btn-section{
        .toggle-btns{
            display: flex;
            .button{
                flex: 1;
                height: 48px;
                margin: 0;
                border-radius: 0;
                .button-inner{
                    flex-direction: column;
                    .title{
                        font-size: 14px;
                        padding-bottom: 5px;
                    }
                    .value{
                        font-size: 12px;
                        color: $muted;
                        &.red{
                            color: $danger;
                        }
                        &.green{
                            color: $green;
                        }
                    }
                }

                &.selected{
                    background: $primary;
                    color: $default;
                }

            }
            .button:first-child{
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            .button:last-child{
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        .totalAmt{
            text-align: center;
            padding: 2px 16px 16px;
            color: $primary;
            font-weight: 600;
            font-size: 14px;
            .red{
                color: $danger;
            }
            .green{
                color: $green;
            }
        }
    }

    .page-content{
        padding: 16px 16px 16px;
        &.with-date-picker{
            padding: 56px 16px 16px;
        }
    }
    .chart-section {
        padding: 16px 0;
        .chart-title {
            font-size: 16px;
            font-weight: 600;
            padding: 16px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .chart-type{
                text-transform: capitalize;
                padding: 2px 8px;
                border: 1px solid $primary;
                border-radius: 4px;
            }
        }
        .chart-content {
            padding: 16px 0;
        }
    }
    .report-list{
        padding: 16px 0 40px;
        .title{
            font-size: 18px;
            font-weight: 600;
            color: $primary;
            padding: 16px;
            text-align: center;
        }

        .report-list-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            .category{
                font-size: 14px;
                font-weight: 600;
            }
            .value{
                font-size: 14px;
                color: $muted;
                display: flex;
                align-items: center;
            }
        }
    }

    .swiper-slide{
        overflow-y: auto;
        // max-height: 600px;
    }
    .slide-zoom{
        max-height: 600px;
    }
    .slides{
        overflow-y: auto;
        // max-height: 100vh;
    }
}
